@media (max-width: 768px) {
    
    
    .empresa-nombre {    
        font-size: 50px; 
    }
    
    .descripcion {
        font-size: 14px;  
    }
    
    .logo {
         width: 120px; 
    }
    
   .botones {
        flex-direction: column; 
        gap: 10px; 
    }
    
    

    .main-content {
        flex-direction: column; 
    }

    .izquierda {
        width: 100%; 
        border-right: none; 
    }

    .derecha {
        width: 100%; 
    }

    .cuadro {
        height: 120px; 
        font-size: 20px; 
    }

    .catalogo h2 {
        font-size: 36px; 
    }

    .footer-text {
        font-size: 12px; 
    }

    .footer-botones button {
        padding: 8px 12px; 
        font-size: 14px; 
    }
}
